{% extends "newscenter/base.html" %}

{% load tz %}

{% block title %}{{ newsroom.name }} {{ year|date:"Y" }}{% endblock %}

{% block appcontent %}
<div id="breadcrumbs">
  {% include "newscenter/includes/bread-home.html" %} | {{ year|date:"Y" }}
</div>
<h1>{{ newsroom.name }} {{ year|date:"Y" }}</h1>

{% include "newscenter/includes/article_list.html" %}

<div id="date-list">
<p>View articles for the month of:</p>
{% for date in date_list %}
  <span><a href="{{ date|utc|date:"b" }}">{{ date|utc|date:"F" }}</a></span>
{% endfor %}
</div>

{% endblock %}

