{% extends 'newscenter/base.html' %}
{% load thumbnail %}

{% block title %}{{ article.title }}{% endblock %}

{% block extra_head %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}newscenter/js/bxslider/jquery.bxslider.css" media="screen" />
{% endblock %}
  
{% block extra_js %}
  <script src="{{ STATIC_URL }}newscenter/js/bxslider/jquery.bxslider.min.js" type="text/javascript"></script>
  <script type="text/javascript">
      $(document).ready(function(){
          $('.bxslider').bxSlider({
              pagerCustom: '#bx-pager'
          }); 
      }); 
  </script>
{% endblock %}

{% block appcontent %}
<div id="breadcrumbs">
{% include 'newscenter/includes/bread-home.html' %} |
<a href="../../">{{ article.release_date|date:"Y" }}</a> |
<a href="../">{{ article.release_date|date:"M" }}</a> |
{{ article.title|truncatewords:"4" }}
</div>
  <h1>{{ article.title }}</h1>
  {% if article.teaser %}<p id="article-teaser">{{ article.teaser }}</p>{% endif %}
  <p class="date">{{ article.release_date|date:"F j, Y P" }}</p>

  {% if article.images.count %}
  <div id="article-gallery">
    <ul class="bxslider">
    {% for image in article.images.all %}
      <li><a href="{{ image.image.url }}"><img src="{% thumbnail image.image 240x300 crop %}" alt="{{ image.name }}" /></a>
        {% if image.caption %}<p class="caption">{{ image.caption }}</p>{% endif %}
      </li>
    {% endfor %}
    </ul>
    {% if article.images.count > 1 %}
    <div id="bx-pager">
    {% for image in article.images.all %}
      <a data-slide-index="{{ forloop.counter0 }}" href="#"><img src="{% thumbnail image.image 40x40 crop %}" alt="{{ image.name }}" /></a>
    {% endfor %}
    </div>
    {% endif %}
  </div>
  {% endif %}

  {% if article.location %}
    <div id="article-location">
      <span class="article-list-label">Location:</span>
      {{ article.location }}
    </div>
  {% endif %}

  <div id="article-body">{{ article.body|safe }}</div>

{% if article.categories.all %}
  <div id="article-categories">
  <span class="article-list-label">Categor{{ article.categories.count|pluralize:"y,ies" }}:</span>
  <ul class="article-list">
  {% for category in article.categories.all %}
    <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
  {% endfor %}
  </ul>
  </div>
{% endif %}

{% if article.contacts.all %}
  <div id="article-contacts">
  <h2>Contacts:</h2>
  {% for contact in article.contacts.all %}
    <div>
      <p>{{ contact.name }}</p>
      <p>{{ contact.phone }} {{ contact.email|urlize }}</p>
    </div>
  {% endfor %}
  </div>
{% endif %}

<div id="next-previous" style="display: none">
{% if article.get_next_published %}
<p><strong>Next:</strong>
<a href="{{ article.get_next_published.get_absolute_url }}">{{ article.get_next_published.title }}</a></p>
{% endif %}
<p id="currently-reading"><strong>Currently Reading:</strong> {{ article.title }}</p>
{% if article.get_previous_published %}
<p><strong>Previous:</strong>
<a href="{{ article.get_previous_published.get_absolute_url }}">{{ article.get_previous_published.title }}</a></p>
{% endif %}
</div>

{% endblock %}

