{% extends "newscenter/base.html" %}

{% block title %}{{ newsroom }}{% endblock %}

{% block appcontent %}
<div id="article-index">
  <h1>{{ newsroom }} <a id="newsroom-rss-link" href="{% url newsroom_feed newsroom.slug %}"><img src="{{ STATIC_URL }}newscenter/img/feed-icon-14x14.png" alt="{{ newsroom }} rss" /></a></h1>
{% for article in article_list.object_list %}
  {% include "newscenter/includes/list_article.html" %}
  {% empty %}
  <p>There are no matching articles in {{ newsroom }}.</p>
{% endfor %}
{% include "newscenter/includes/pagination.html" %}
</div>
{% endblock %}

