{% extends "newscenter/base.html" %}

{% load url from future %}
{% load endless %}

{% block title %}{{ newsroom.name }}{% endblock %}

{% block appcontent %}
<div id="article-index">
  <h1>{{ newsroom.name }} <a id="newsroom-rss-link" href="{% if newsroom.website %}{% url "newsroom_feed" newsroom.website.short_name newsroom.slug %}{% else %}{% url "newsroom_feed" newsroom.slug %}{% endif %}"><img src="{{ STATIC_URL }}newscenter/img/feed-icon-14x14.png" alt="{{ newsroom.name }} rss" /></a></h1>
  {% include "newscenter/includes/article_list.html" %}
</div>
{% endblock %}

