#news-content {
  position: relative;
}
#news-content p {
  margin: 0 0 8px 0;
}
#news-content h2 {
  border-bottom: none;
  font-size: 1.2em;
  font-weight: bold;
}
#news-content h2.subhead {
  color: #444;
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
}  
#news-content .date {
  font-weight: bold;
}
#news-content h3 {
  border: none;
  font-size: 1em;
}
#news-content img {
  border: 0;
  display: block;
}
#news-content ul {
  padding: 0;
}
#news-content li {
  margin: 0;
  padding: 0;
}
#news-content .clear {
  clear: both;
}
#breadcrumbs {
  font-size: .8em;
  margin-bottom: 10px;
}
#next-previous {
  font-size: .9em;
  margin: 30px 0 20px 0;
}
#currently-reading {
  color: #555;
  font-size: 1em;
}
.pagination {
  font-size: .9em;
  margin-bottom: 12px;
  text-align: right;
}

#article-locations,
#article-categories {
  font-size: .9em;
  margin: 14px 0;
}
.article-list-label {
  font-weight: bold;
}
.article-list,
.article-list li{
  display: inline;
  margin-left: 0;
}
.news-rss {
  clear: left;
}
.news-rss-icon {
  float: right;
}
#main-article {
  float: left;
  margin-bottom: 14px;
  width: 64%;
}
#main-article-date {
  color: #986208;
}
#main-article-image {
  background-color: #F0F0F0;
  border: 1px solid #aaa;
  padding: 3px;
  float: left;
  margin: 4px 10px 4px 0;
}
#main-article-image .caption {
  font-size: .7em;
}
a.more-link {
  background-color: #485881;
  border: 1px solid #111;
  color: #eee;
  font-size: 11px;
  font-weight: bold;
  padding: 0px 4px;
  text-decoration: none;
}
a.more-link:hover {
  background-color: #7498b7;
  color: #000;
}
#article-teaser {
  font-size: .95em;
  font-style: italic;
}
#article-location {
  font-size: .95em;
}
#article-body p {
  margin-bottom: .8em;
}
#news-column {
  clear: both;
}
#index-article-lists {
  background-color: #efefef;
  border: 1px solid #ddd;
  padding: 3px;
  float: right;
  width: 32%;
}  
.index-article-list {
  border: 1px solid #aaa;
  border-bottom: 1px solid #777;
  padding: 8px;
}
#featured-articles {
  margin-bottom: 10px;
}
#latest-articles,
#featured-articles {
  background-color: #fff;
  clear: both;
}
#featured-articles h3 {
  font-size: .9em;
  margin-bottom: 8px;
}

#latest-articles h3 {
  font-size: .8em;
}

#featured-articles .index-article {
  clear: left;
  margin: 6px 0 10px 0;
}

#latest-articles .index-article {
  line-height: 1.1em;
  margin: 7px 0;
}

.index-article img {
  float: left;
  margin-right: 10px;
}
.index-article p {
  font-size: .9em;
}
.index-article h3 {
  font-size: 1.3em;
  font-weight: bold;
}

#news-content p#article-view-all {
  clear: both;
  margin: 16px 0 0 0;
}

.archive-article {
  margin-bottom: 10px;
}

.archive-article h2 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.article-list-item {
  margin-bottom: 10px;
  padding-left: 100px;
  position: relative;
}

.article-list-item h2 {
  margin-bottom: 0;
}

.article-list-release-date {
  left: 0;
  top: 0;
  margin-top: 2px;
  position: absolute;
}

.share-links {
  display: inline-block;
  margin: 10px 0 6px 0;
}

#date-list {
  margin-top: 40px;
}


/*
 * jquery.popeye.style.css 2.0
 *
 * Example styles for jQuery.popeye
 *
 * Copyright (C) 2010 Christoph Schuessler (schreib@herr-schuessler.de)
 * 
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 */

/* fallback styles for image list */
.ppy-imglist {
    margin: 0;
    width:          100%;
    display:        block;
    overflow:       hidden;
    
}
.ppy-imglist li {
    padding:        10px;
    border-radius:          5px;
    -moz-border-radius:     5px;
    -khtml-border-radius:   5px;
    -webkit-border-radius:  5px;
    background:     #fff;
    list-style:     none;
    float:          left;
    display:        block;
    margin:         0 10px 10px 0;
}
.ppy-imglist li a img {
    display:        block;
    border:         0;
}
#ppy1 .ppy-extcaption {
    width:          240px;
    display:        block;
}
#ppy1 .ppy-imglist li {
    width:          240px;
    height:         220px;
}
#ppy2 .ppy-imglist li,
#ppy2 .ppy-imglist li a {
    width:              160px;
    height:             160px;
    overflow:           hidden;
    display:        block;
}




/* popeye example 1 */
#ppy1.ppy-active {
    width:          262px;
    float:          left;
    margin:         0 20px 10px 0;
}

#ppy1 .ppy-outer {
    padding:        10px;
    border:         1px solid #ddd;
    border-radius:          0 10px 10px 10px;
    -moz-border-radius:     0 10px 10px 10px;
    -webkit-border-radius:  0 10px 10px 10px;
    background:     #EAEAEA;
}

#ppy1 .ppy-stage {
    width:          240px;
    height:         173px;
    border-radius:          0 5px 5px 5px;
    -moz-border-radius:     0 5px 5px 5px;
    -webkit-border-radius:  0 5px 5px 5px;
}

#ppy1 .ppy-outer:hover,
#ppy1.ppy-expanded .ppy-outer {
    border:         1px solid #bbb;
    box-shadow:         0 0 7px #ccc;
    -moz-box-shadow:    0 0 7px #ccc;
    -webkit-box-shadow: 0 0 7px #ccc;
}

#ppy1 .ppy-caption {
    margin:         5px 0 0 0;
    padding:        10px;
    font-size:      0.9em;
    line-height:    1.3em;
    background:     #fff;
    border-radius:          10px;
    -moz-border-radius:     10px;
    -webkit-border-radius:  10px;
    box-shadow:         0 0 7px #ccc;
    -moz-box-shadow:    0 0 7px #ccc;
    -webkit-box-shadow: 0 0 7px #ccc;
    visibility:         hidden; /* prevent flash of content before popeye loads */
}

#ppy1 .ppy-caption a {
    color:          #66bde9;
}
#ppy1 .ppy-caption a:hover {
    text-decoration:underline;
}

#ppy1 .ppy-counter {
    border-bottom:  1px solid #d5e68e;
    color:          #b8cf5a;
    padding:        0 0 2px 0;
    margin:         0 0 5px 0;
    font-size:      0.9em;
}

#ppy1 .ppy-stagewrap {
    background:     #D4D4D5;
    border-radius:          0 5px 5px 5px;
    -moz-border-radius:     0 5px 5px 5px;
    -webkit-border-radius:  0 5px 5px 5px;
}

#ppy1 .ppy-loading {
    background:     #0c3b3d url(../js/popeye/img/loading1.gif) no-repeat center !important;
}

#ppy1 .ppy-nav {
    background:     #1F7DAF;
    width:          104px;
    height:         32px;
    padding:        5px;
    position:       absolute;
    top:            0;
    left:           0;  
    border-radius:          0 0 5px 5px;
    -moz-border-radius:     0 0 5px 5px;
    -webkit-border-radius:  0 0 5px 5px;   
}

#ppy1 .ppy-nav a {
    display:        block;
    overflow:       hidden;
    text-indent:    -900em;
    height:         22px;
    float:          left;
    padding:        5px;
    border-radius:          5px;
    -moz-border-radius:     5px;
    -khtml-border-radius:   5px;
    -webkit-border-radius:  5px; 
}

#ppy1 .ppy-prev {
    width:          22px;
    background:     url(../js/popeye/img/prev3.png) no-repeat center;
}

#ppy1 .ppy-next {
    width:          22px;
    background:     url(../js/popeye/img/next3.png) no-repeat center;
}

#ppy1 .ppy-switch-enlarge {
    width:          30px;
    background:     url(../js/popeye/img/enlarge3.png) no-repeat center;
}

#ppy1 .ppy-switch-compact {
    width:          30px;
    background:     url(../js/popeye/img/compact3.png) no-repeat center;
}

#ppy1 .ppy-nav a:hover {
    background-color:   #00AEED;
    cursor:         pointer;
}


/* popeye example 2 */
#ppy2.ppy-active {
    width:          224px;
    float:          right;
    margin:         0 0 10px 20px;
}

#ppy2 .ppy-outer {
    padding:        0 46px 0 0;
    
}
#ppy2 .ppy-stagewrap {
    padding:        7px;
    border-radius:          5px 0 5px 5px;
    -moz-border-radius:     5px 0 5px 5px;
    -webkit-border-radius:  5px 0 5px 5px;
    background:     #c1eaff;
    background:     rgba(193,234,255,0.7);
}

#ppy2 .ppy-stage {
    width:              160px;
    height:             160px;
    border:             2px solid #fff;
    border-radius:          3px;
    -moz-border-radius:     3px;
    -webkit-border-radius:  3px;
    background-color:       #777;
}

#ppy2 .ppy-counter {
    background:         #fff;
    color:              #333;
    padding:            0 5px;
    font-size:          0.8em;
    position:           absolute;
    bottom:             0;
    right:              0;
    opacity:            0.7;
    border-radius:          5px 0 0 0;
    -moz-border-radius:     5px 0 0 0;
    -khtml-border-radius:   5px 0 0 0;
    -webkit-border-radius:  5px 0 0 0; 
}

#ppy2 .ppy-loading {
    background-image:   url(../js/popeye/img/loading2.gif);
    background-repeat:  no-repeat;
    background-position:center;
}

#ppy2 .ppy-nav {
    border-radius:          0 5px 5px 0;
    -moz-border-radius:     0 5px 5px 0;
    -webkit-border-radius:  0 5px 5px 0;
    background:     #76c6ee;
    background:     -webkit-gradient(
        linear,
        left top,
        right bottom,
        color-stop(0, rgb(118,198,238)),
        color-stop(1, rgb(45,158,214))
    );
    background:     -moz-linear-gradient(
        left top,
        rgb(118,198,238) 0%,
        rgb(45,158,214) 100%
    );
    border-left:    1px solid #6ab1d5;
    width:          45px;
    position:       absolute;
    top:            4px;
    right:          0;
}

#ppy2 .nav-wrap {
    padding:        5px 0;
}

#ppy2 .ppy-nav a {
    display:        block;
    overflow:       hidden;
    text-indent:    -900em;
    height:         22px;
    padding:        5px;
    border-radius:          0 5px 5px 0;
    -moz-border-radius:     0 5px 5px 0;
    -webkit-border-radius:  0 5px 5px 0;
    width:          30px;
}

#ppy2 .ppy-prev {
    background:     url(../js/popeye/img/prev3.png) no-repeat center;
}

#ppy2 .ppy-next {
    background:     url(../js/popeye/img/next3.png) no-repeat center;
}

#ppy2 .ppy-switch-enlarge {
    background:     url(../js/popeye/img/enlarge4.png) no-repeat center;
}

#ppy2 .ppy-switch-compact {
    background:     url(../js/popeye/img/compact4.png) no-repeat center;
}

#ppy2 .ppy-nav a:hover {
    background-color:   #378eba;
    cursor:         pointer;
    opacity:        0.8;
}



/* popeye example 3 */
#ppy3.ppy-active {
    width:          240px;
    float:          left;
    margin:         0 20px 10px 0;
}

#ppy3 .ppy-outer {
}

#ppy3 .ppy-stage {
    width:          240px;
    height:         180px;
    overflow:       hidden;
}

#ppy3 .ppy-stagewrap {
    background:     #333;
}

#ppy3 .ppy-caption {
    margin:         10px 0 0 0;
    padding:        0 5px 3px 0;
    font-size:      0.9em;
    line-height:    1.3em;
    color:          #666;
    height:         60px;
    overflow:       auto;
    border-bottom:  1px solid #ddd;
}

#ppy3.ppy-expanded .ppy-caption {
    margin:         0;
    padding:        10px;
    color:          #fff;
    border-bottom:  1px solid #333;
    background:     #666;
}

#ppy3 .ppy-counter {
    background:     #333;
    color:          #fff;
    padding:        0 5px;
    font-size:      0.8em;
    position:       absolute;
    bottom:         0;
    left:           0;
    opacity:        0.7;
}

#ppy3 .ppy-loading {
    background:     #333 url(../js/popeye/img/loading3.gif) no-repeat center !important;
}

#ppy3 .ppy-nav {
    background:     #333;
    background:     rgba(51,51,51,0.7);
    background:     -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgba(51,51,51,1)),
        color-stop(0.4, rgba(51,51,51,0.7)),
        color-stop(0.6, rgba(51,51,51,0.7)),
        color-stop(1, rgba(51,51,51,1))
    );
    background:     -moz-linear-gradient(
        center bottom,
        rgba(51,51,51,1) 0%,
        rgba(51,51,51,0.7) 40%,
        rgba(51,51,51,0.7) 60%,
        rgba(51,51,51,1) 100%
    );
    width:          100%;
    height:         100%;
    text-align:     center;
}
#ppy3 .nav-wrap {
    width:          104px;
    height:         32px;
    padding:        30% 0 0 0;
    margin:         0 auto 0 auto;
}
#ppy3 .ppy-nav a {
    display:        block;
    overflow:       hidden;
    text-indent:    -900em;
    height:         22px;
    float:          left;
    padding:        5px;
    border-radius:          5px;
    -moz-border-radius:     5px;
    -khtml-border-radius:   5px;
    -webkit-border-radius:  5px; 
}

#ppy3 .ppy-prev {
    width:          22px;
    background:     url(../js/popeye/img/prev3.png) no-repeat center;
}

#ppy3 .ppy-next {
    width:          22px;
    background:     url(../js/popeye/img/next3.png) no-repeat center;
}

#ppy3 .ppy-switch-enlarge {
    width:          30px;
    background:     url(../js/popeye/img/enlarge3.png) no-repeat center;
}

#ppy3 .ppy-switch-compact {
    width:          30px;
    background:     url(../js/popeye/img/compact3.png) no-repeat center;
}

#ppy3 .ppy-nav a:hover {
    background-color:   #333;
    cursor:         pointer;
}
