#news-content {
  position: relative;
}
#news-content h2.subhead {
  color: #444;
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
}  
#news-content .date {
  font-weight: bold;
}
#news-content img {
  border: 0;
}
#news-content .clear {
  clear: both;
}
#breadcrumbs {
  font-size: .8em;
  margin-bottom: 10px;
}
#next-previous {
  font-size: .9em;
  margin: 30px 0 20px 0;
}
#currently-reading {
  color: #555;
  font-size: 1em;
}
.pagination {
  font-size: .9em;
  margin-bottom: 12px;
  text-align: right;
}
.newsroom-list-name {
  border-bottom: none;
}
#article-locations,
#article-categories {
  font-size: .9em;
  margin: 14px 0;
}
#article-contacts div {
  margin-bottom: 1em;
}
#article-contacts p {
  margin-bottom: 0;
}
.article-list-label {
  font-weight: bold;
}
.article-list,
.article-list li{
  display: inline;
  margin-left: 0;
}
#newsroom-rss-link,
#newsroom-rss-link img {
  display: inline-block;
}
#main-article {
  float: left;
  margin-bottom: 14px;
  width: 64%;
}
#main-article-date {
  color: #986208;
}
#main-article-image {
  background-color: #F0F0F0;
  border: 1px solid #aaa;
  padding: 3px;
  float: left;
  margin: 4px 10px 4px 0;
}
#main-article-image .caption {
  font-size: .7em;
}
a.more-link {
  background-color: #485881;
  border: 1px solid #111;
  color: #eee;
  font-size: 11px;
  font-weight: bold;
  padding: 0px 4px;
  text-decoration: none;
}
a.more-link:hover {
  background-color: #7498b7;
  color: #000;
}
#article-teaser {
  font-size: .95em;
  font-style: italic;
}
#article-location {
  font-size: .95em;
}
#news-column {
  clear: both;
}
#index-article-lists {
  background-color: #efefef;
  border: 1px solid #ddd;
  padding: 3px;
  float: right;
  width: 32%;
}  
.index-article-list {
  border: 1px solid #aaa;
  border-bottom: 1px solid #777;
  padding: 8px;
}
#featured-articles {
  margin-bottom: 10px;
}
#latest-articles,
#featured-articles {
  background-color: #fff;
  clear: both;
}
#featured-articles h3 {
  font-size: .9em;
  margin-bottom: 8px;
}

#latest-articles h3 {
  font-size: .8em;
}

#featured-articles .index-article {
  clear: left;
  margin: 6px 0 10px 0;
}

#latest-articles .index-article {
  line-height: 1.1em;
  margin: 7px 0;
}

.index-article img {
  float: left;
  margin-right: 10px;
}
.index-article p {
  font-size: .9em;
}
.index-article h3 {
  font-size: 1.3em;
  font-weight: bold;
}

#news-content p#article-view-all {
  clear: both;
  margin: 16px 0 0 0;
}

.archive-article {
  margin-bottom: 10px;
}

.archive-article h2 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.article-list-item {
  margin: 10px 0;
  padding-left: 100px;
  position: relative;
}

.article-list-item h2 {
  margin-bottom: 0;
}

.article-list-release-date {
  left: 0;
  top: 0;
  position: absolute;
}

.share-links {
  display: inline-block;
  margin: 10px 0 6px 0;
}

#date-list {
  margin-top: 40px;
}
#article-gallery {
  border: 1px solid #999;
  float: right;
  margin: 0 0 8px 8px;
  max-width: 50%;
  width: 240px;
}
#article-gallery .bx-wrapper {
  margin: 0;
}
#article-gallery .bx-viewport {
  background: none;
  border: none;
  box-shadow: none;
  left: 0;
}
#article-gallery .caption {
  margin-bottom: 0;
  padding: 12px;
}
#article-gallery ul {
  margin-left: 0;
}
#article-gallery #bx-pager {
  padding: 8px 12px;
}
#article-gallery #bx-pager a {
  display: inline-block;
}
#article-gallery #bx-pager img {
  display: block;
}
